<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="main-container">
        <div class="card">
            <a href="/spotify"><img src="https://wallpapers.com/images/hd/spotify-background-9swsnn0d6snp9bf1.jpg"/></a>
        </div>
        <div class="card">
            <a href="/todoapp"><img src="https://th.bing.com/th/id/OIP.Tai24BuXPmuSiOsItwzedgHaFj?r=0&o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3"></a>
        </div>
        <div class="card">
            <a href="/simon-says"><img src="https://s.allright.com/blog/Simon_Says_Game_77dccd3132.png"></a>
        </div>
        <div class="card">
            <a href="/alarms"><img src="https://i.pinimg.com/originals/54/07/2c/54072c97a11315df4858a22d7eeaca85.jpg"></a>
        </div>
        <!-- <div class="card">
            <a href="">home</a>
        </div> -->
    </div>
</body>

</html>